<!doctype html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Fitness Tracker Login Page</title>
</head>
<body>
    
    <div class="container login-box auth0-box before">
        <img src="https://i.cloudup.com/StzWWrY34s.png" />
        <h3>Auth0 account login or creation</h3>
        <p>Click the button below to get redirected to the login page!</p>
        <p>If you do not have an account, click to create an account! </p>
        <a class="btn btn-primary btn-lg btn-login" href="/login">Account creation + Log In</a>

        <h3>API info here:</h3>
        <a class="btn btn-primary btn-lg" href="/">Read about using the API!</a>
    </div>

</body>
</html>